.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.imageContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.noOrders {
  font-size: 1.7rem;
  color: rgb(105, 4, 17);
}

.noOrders a {
  color: rgb(11, 112, 206);
}

.table {
  width: 100%;
  border-spacing: 20px;
}

.name {
  font-weight: 500;
  color: #dd3939;
  font: 12px;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.totalTextTitle {
  margin-right: 10px;
}

.button,
.paidButton {
  height: 40px;
  color: #dd3939;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.paidButton {
  color: green;
}

@media screen and (max-width: 833px) {
  .left {
    flex: 1;
    margin-left: -60px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    flex-direction: column;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .imageContainer {
    width: 45vw;
    height: 45vw;
  }

  .name,
  .total {
    font-size: 24px;
  }

  .extras,
  .price,
  .quantity {
    font-size: 22px;
  }

  .price::before {
    content: "Price: ";
    font-weight: 500;
  }
  .quantity::before {
    content: "Quantity: ";
    font-weight: 500;
  }
  .total::before {
    content: "Total: ";
    font-weight: 500;
  }
  .right {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    width: 80%;
  }

  .button {
    width: max-content;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  .name,
  .total {
    font-size: 18px;
  }

  .extras,
  .price,
  .quantity {
    font-size: 17px;
  }

  .wrapper {
    width: max-content;
  }
}
