.container {
  height: 100px;
  padding: 0 50px;

  background: rgb(16, 13, 24);
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 977;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
  color: white;
}

.item:nth-child(2) {
  flex: 3;
}

.item:nth-of-type(2) {
  justify-content: flex-end;
  flex: 1;
}

.item:last-child {
  display: none;
  flex: 1;
}

.itemMobile {
  display: none;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.callButton {
  border-radius: 50px;
  background-color: white;
  padding: 4px;
  /* height: 45px; */
  width: 45px;
}

.texts {
  margin-left: 20px;
  color: white;
}

.texts:first-child {
  font-size: 12px;
  font-weight: 500;
}

.texts:last-child {
  font-size: 20px;
  font-weight: bold;
}

.cart {
  position: relative;
}

.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 21px;
  border-radius: 50%;
  background-color: white;
  color: #100d18fb;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .item:nth-child(2) {
    display: none;
  }

  .itemMobile {
    display: flex;
    position: absolute;
    padding-top: 20px;
    /* height: 114vw; */

    left: 0;
    top: 0;
    right: 0;
    /* bottom: -296px; */
    background-color: hsla(0, 4%, 14%, 0.911);

    z-index: 978;
  }
  .item:nth-child(1) {
    flex: 3;
  }

  .item:last-child {
    display: flex;

    justify-content: flex-end;
    margin-right: -45px;
    margin-top: -50px;
    position: relative;
    z-index: 1000;
  }

  .listMobile {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(156, 127, 238);
    transform: translateY(20px);
  }

  .menuIcon {
    /* transform: translate(-293px, -32px); */

    /* position: relative;
    left: -270px; */
  }
}
